:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #17212c;
  --bg-secondary: #25384e;
  --bg-lightblue: #eff1f7;
  --pink: #de2465;
  --bg-active: linear-gradient(to right, #de2465, #e0215c, #e22052, #e32148, #e3243d);
  --transition-speed: 600ms;
}
